<!--
<ul>
{% for program in program_list %}
    <h1>{{program.program_text}}</h1>
    <h2>{{program.classes}}</h2>
    
{% endfor %}
</ul>

        Working in progress-->

<form id="link">
<lable for="action">Option:</lable>
<select id="selected">
    {% for program in program_list %}
    <option value = {{program}}>{{program.program_text}}</option>
    {% endfor %}

</select>
    <input type="button" id="btn" onclick="showClass()"value="Choose"/>
</form>
    <h2 id="showAllClass"> </h2>
<script>
    function showClass(){
        var x = document.getElementById("selected");
        //var classesText = x.options[x.selectedIndex].value;
        var classesText = x.options[x.selectedIndex].value;
        //var newClassText="";
        //for (i = 0; i < classesText.length; i++)
        //newClassText = newClassText + (classesText[i]);

        /*var $form = $(this),
        $select = $form.find('select'),
        pro = $select.val();
        document.getElementById("showAllClass").innerHTML = pro;*/
        document.getElementById("showAllClass").innerHTML = classesText;
    }
</script>

    